
@{
    ViewBag.Title = "transfer";
    Layout = "~/Views/Shared/_PenyewaTemplate.cshtml";
}
<style>
    input {
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 3px solid blue;
        width: inherit;
    }
</style>

<br />
<div class="container">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="cek_saldo">Cek saldo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="top_up">Top up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="transfer">Transfer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="lihat_mutasi">Mutasi</a>
                </li>
            </ul>
        </div>
        <form action="transfer" method="post" autocomplete="off" onsubmit="ubah()">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <input type="hidden" name="saldo_saya" value="@ViewBag.saldo" />                        
                        <input type="hidden" name="true_password" id="true_password" value="@ViewBag.password" />
                        <input type="hidden" name="true_password" id="mySaldo" value="@ViewBag.saldo" />
                        <h4 class="card-header text-center">Pastikan <span style="color:red">saldo</span> anda cukup untuk melakukan transaksi ini</h4>
                        <br />
                        <div class="row">
                            <div class="col">
                                <p style="color:Highlight">Username Tujuan<span style="color:red">*</span></p>
                                <input type="text" name="username_tujuan" id="username_tujuan" value="" placeholder="Ketik di sini" required onkeyup="inputted()" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="color:Highlight">Jumlah uang<span style="color:red">*</span></p>
                                <input type="text" name="jml_transfer" id="jml_transfer" value="" placeholder="Rp 0" required onkeyup="this.value = formatCurrency(this.value,''),inputted()" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="color:Highlight">Deskripsi</p>
                                <input type="text" name="deskripsi" id="deskripsi" value="" placeholder="Ketik di sini" onkeyup="inputted()" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="color:Highlight">Password<span style="color:red">*</span></p>
                                <input type="password" name="password" id="password" value="" placeholder="Verifikasi pengguna" required onkeyup="inputted()" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col">
                                <input disabled type="submit" name="btnSubmit" id="btnSubmit" value="Kirim" class="btn btn-primary form-control" style="border-radius:0" />
                            </div>
                        </div>
                    </div>
                    <div class="col" id="Preview">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="card-header"></div>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <p>RESUME TRANSAKSI TRANSFER</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-3">
                                                    <p>Username tujuan</p>
                                                </div>
                                                <div class="col">
                                                    <div id="iusername"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-3">
                                                    <p>Jumlah uang</p>
                                                </div>
                                                <div class="col">
                                                    <div id="ijml_transfer"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-3">
                                                    <p>Deskripsi</p>
                                                </div>
                                                <div class="col">
                                                    <div id="ideskripsi"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<br />

<script>
    function ubah()
    {
        var jml_transfer = document.getElementById("jml_transfer").value;
        document.getElementById("jml_transfer").value = jml_transfer.replace(/[^,\d]/g, '').toString();
    }
    function inputted()
    {     
        var username = document.getElementById("username_tujuan").value;
        var jml_transfer = document.getElementById("jml_transfer").value;
        var deskripsi = document.getElementById("deskripsi").value;
        var password = document.getElementById("password").value;
        var true_pass = document.getElementById("true_password").value;
        var mySaldo = document.getElementById("mySaldo").value;


        document.getElementById("iusername").innerHTML = '<p>: '+ username +'</p>';
        document.getElementById("ijml_transfer").innerHTML = '<p>: ' +jml_transfer + '</p>';
        document.getElementById("ideskripsi").innerHTML = '<p>: ' + deskripsi + '</p>';

        if (password == true_pass) {            
            document.getElementById("btnSubmit").disabled = false;
        } else {
            document.getElementById("btnSubmit").disabled = true;
        }
    }
    function formatCurrency(value, prefix) {

            var number_string = value.replace(/[^,\d]/g, '').toString(),
                split = number_string.split(','),
                sisa = split[0].length % 3,
                rupiah = split[0].substr(0, sisa),
                ribuan = split[0].substr(sisa).match(/\d{3}/gi);

            // tambahkan titik jika yang di input sudah menjadi angka ribuan
            if (ribuan) {
                separator = sisa ? '.' : '';
                rupiah += separator + ribuan.join('.');
            }

            rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
            return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
        }
</script>