@model Rental_Centre.Models.msrental
@{
    ViewBag.Title = "edit_password";    
    Layout = "~/Views/Shared/_RentalTemplate.cshtml";
}

<form action="edit_password" method="post" autocomplete="off" onsubmit="alert('Password Berhasil diperbarui!')">
    <div class="container">
        <a>Profile</a> / <a href="">Ubah Password</a>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <center>
                                    <b style="color:red">Peringatan!</b><br />
                                    <p style="color:black">Password akan diperbarui setelah anda selesai memperbarui password</p>
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">                                
                                <input type="password" name="password" id="password" value="" class="form-control" placeholder="Password baru" required />
                            </div>
                            <div class="col">
                                <input type="password" name="ipassword" id="ipassword" value="" class="form-control" placeholder="Verifikasi password" required />
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col">
                                <p style="color:black">Masukkan password anda sebelumnya!</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="password" name="oldPassword" id="oldPassword" value="" placeholder="..." class="form-control" required />
                            </div>
                            <div class="col">
                                <input type="hidden" name="id_rental" value="@Model.id_rental" />
                                
                                <input type="submit" name="btnSubmit" value="Perbarui" class="btn btn-danger float-left" style="border-radius:0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</form>

<script>

</script>

