
@{
    ViewBag.Title = "Page 1";
    ViewBag.Profile = ViewBag.logged_in.profil;
    ViewBag.Nama_user = ViewBag.logged_in.nama_rental;
    ViewBag.Toko_user = ViewBag.logged_in.nama_toko;
    ViewBag.mskelompokjenis = ViewBag.mskelompokjenis;
    Layout = "~/Views/Shared/_RentalTemplate.cshtml";
}
<div class="container">
    <h2>Index</h2>
</div>



