@model Rental_Centre.Models.mskelompokjenis

@{
    ViewBag.Profile = ViewBag.logged_in.profil;
    ViewBag.Nama_user = ViewBag.logged_in.nama_admin;
    ViewBag.Title = "add_kelompokjenisbarang";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}

@using (Html.BeginForm())
{
    <div class="card">
        
        <div class="card-body">
            <div class="card-header">Edit Kelompok Jenis</div>
            <br />
            Nama Kelompok Jenis
            <input type="text" name="nama_kelompokjenis" value="" id="nama_kelompokjenis" class="form-control" required />
            <br />
            Deskripsi Kelompok Jenis
            <textarea type="text" name="deskripsi" value="" class="form-control" required></textarea>
            <br />
            <a href="page_kelompokjenisbarang" class="btn btn-secondary">Kembali</a>
            <input type="submit" class="btn btn-warning float-right" value="Simpan data" />
        </div>
    </div>
}

