@model Rental_Centre.Models.msprovinsi

@{
    ViewBag.Profile = ViewBag.logged_in.profil;
    ViewBag.Nama_user = ViewBag.logged_in.nama_admin;
    ViewBag.Title = "edit_provinsi";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}
<br />
<form action="edit_provinsi" method="post">
    <div id="add">
        <div class="card">
            <div class="card-body">
                <div class="card-header">
                    Edit data
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        Nama Provinsi
                        <input type="text" name="nama_provinsi" value="@Model.nama_provinsi" placeholder="Ketik di sini" class="form-control" required />
                        <input type="hidden" name="id_provinsi" value="@Model.id_provinsi" />
                    </div>
                </div>
                <br />
                <a class="btn btn-secondary" href="page_provinsi">Kembali</a>
                <input type="submit" id="btnInsert" name="btnInsert" value="Perbarui" class="btn btn-warning float-right" />
            </div>
        </div>
    </div>


