@model Rental_Centre.Models.mskelompokjenis

@{
    ViewBag.Profile = ViewBag.logged_in.profil;
    ViewBag.Nama_user = ViewBag.logged_in.nama_admin;
    ViewBag.Title = "edit_kelompokjenisbarang";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}

@using (Html.BeginForm())
{
    <div class="card">
        <div class="card-header">Edit Kelompok Jenis</div>
        <div class="card-body">
            Nama Kelompok Jenis
            <input type="text" name="nama_kelompokjenis" value="@Model.nama_kelompokjenis" id="nama_kelompokjenis" class="form-control" required/>
            <br />
            Deskripsi Kelompok Jenis
            <textarea type="text" name="deskripsi" value="@Model.deskripsi" class="form-control" required>@Model.deskripsi</textarea>
            <br />
            <input type="hidden" name="id_kelompokjenis" value="@Model.id_kelompokjenis" />
            <a href="page_kelompokjenisbarang" class="btn btn-secondary">Kembali</a>
            <input type="submit" class="btn btn-warning float-right" value="Perbarui data" />
        </div>
    </div>
}

