
@{
    ViewBag.Title = "Page 1";
    ViewBag.Profile = "undraw_profile_2.svg";
    ViewBag.Nama_user = "Admin 1";
    ViewBag.mskelompokjenis = ViewBag.mskelompokjenis;
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}
<div class="container">
    <h1>Index</h1>
</div>

