
@{
    ViewBag.Title = "password_admin";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}

<form action="hapus_admin" method="post">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col">
                            <center>
                                <b style="color:red">Peringatan!</b><br />
                                <p style="color:black">Password akan diperbarui setelah anda selesai memperbarui password</p>
                            </center>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Password terbaru
                            <input type="password" name="password" value="" class="form-control" placeholder="Password" required />
                        </div>
                        <div class="col">
                            Verifikasi password
                            <input type="password" name="ipassword" value="" class="form-control" placeholder="Verifikasi Password" required />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <p style="color:black">Masukkan password anda sebelumnya!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">                           
                            <input type="password" name="input" value="" placeholder="..." class="form-control" required />
                        </div>
                        <div class="col">
                            <input type="hidden" name="id_admin" value="@Model.id_admin" />
                            <input type="submit" name="btnSubmit" value="HAPUS" class="btn btn-danger float-left" style="border-radius:0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">

        </div>
    </div>
</form>